body{
			background-image: linear-gradient(to bottom right, pink, white);
			/*background-image: linear-gradient(#FFC0CB, #4F364C, #FFFFFF);*/

		}
		.bg-image {
			position: absolute;
			left:0;
			right:0;
			top:0;
			bottom:0;
			z-index: -1;
			padding:13% 12%;
			opacity: 0.7;

		}
		.menu-contain{
			z-index: 2;
		}
		.row {
			margin-top: 2%;
		}
		.menulist{
			padding-top: 6%;

		}
		.menu-item{
			position: absolute;
		    margin-top: -30%;
		    font-size: 28px;
		    color: white;
		    margin-left: 10%;
		    cursor: pointer;
		}
		.imege-menu {
		    position: absolute;
		    margin-top: -17%;
		    font-size: 25px;
		    color: white;
		}
		.menu-image {
			cursor:pointer;
		}